 .list-group-item-cart{
  margin: 1%;
    &:hover{
          box-shadow: 0 0 0.6em #ccc;
          background-color: #f6f6f7;
          cursor: normal;
    }
 }
.checkbox-custom {
  position: relative;
  cursor: pointer;
  &:hover{
    &:before {
                border-color: #adadad;
                }
            }
  &:before {
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            z-index: 1;
            width: 3.1em;
            height: 3.1em;
            border: 2px solid #f2f2f2;

  }
  
  &:checked {
    &:before {
           -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            height: 2em;
            border-color: green;
            border-top-style: none;
            border-right-style: none;
    } 
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 0;
    border: 2px solid #8598a0;
    width: 3.1em;
    height: 3.1em;
    background: #fff;
    cursor: pointer;
  }
}
.checkbox-label{
    position: relative;
    margin: 0.5em;
    font-family: Arial, sans-serif;
    line-height: 135%;
    cursor: pointer;
    @include media(991){
           display: none;
        }
}

.info-cart{
    /* margin-left: 2%;*/
    padding: 1% 0 0 0;
    .title{
        color: #3b5f69;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
   
}
 .availability-cart{
     padding: 1.3% 0 0 0;
        h5{
        color: #666;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        }
    }

.quantity-cart{
    padding: 0.5% 0 0 20px;
     @include media(991){
            height: 40px;
            padding: 0;
        }
        input[type="text"] {
    float: left;
    font-family: 'Open Sans';
    outline: 0;
    font-size: 1.2em;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #2a2a2a;
    line-height: 40px;
    border: 1px solid #ccc;
    border-right: 0;
    background-color: #f5f6f5;
     @include media(991){
            width: 50%;
        }
}
}

.increment,
.decrement{
  .qty_inc_dec & {
    float: left;
    text-align: center;
    width: 30px;
    cursor: pointer;
    font-size: 1.2em;
    font-style: normal;
    line-height: 20px;
    height: 25px;
    vertical-align: middle;
    background-color: #e1edf1;
    border: 1px solid #ccc;
        @include media(991){
            width: 100%;
        }
  }
}

.increment {
  .qty_inc_dec & {
    border-bottom: 0;
    line-height: 25px;
  }
}

.qty_inc_dec {
  float: left;
  width: 10px;
  height: 50px;
  display: inline-block;
   @include media(991){
            width: 50%;
        }
}


 .last-cart{
      text-align: center;
      padding: 13px 0 0 0;
      @include media(991){
             
             padding: 13px 0 0 0;
        }
          h5{
         font-weight: 800;
         color: #2b6777;
     }
     .btn{
        @include media(991){
             width: 100%;
        }
     }
 }
 .btn{
        -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        border: 2px solid #f2f2f2;
        border-radius: 0px;
 }
 .btn-cart{
    width: 100%;
    margin: 5% 0;
    background-color: #95a5a6;
    border-color: #95a5a6;
    @include media(760){
          padding: 5%;
          margin: 1% 0;
    }
 }
 .cart-title{
    text-align: right;
    color: #3b5f69;
    font-family: "palatino";
     @include media(760){
          text-align: center;
    }
 }
 .sum-cart{
    padding: 1% 0 0 0;
    text-align: right;
    span{
    font-family: 'Palatino';
    color: #3b5f69;
    font-weight: 600;
    font-size: 2em;
    }
     @include media(760){
          text-align: center;
    }
 }


/* button[type="button"] {*/
/*   cursor: pointer;*/
/*   width: 168px;*/
/*   border: none;*/
/*   color: #2a2a2a;*/
/*   background: #fff;*/
/*   height: 50px;*/
/*   font-size: 1.2em;*/
/*   font-family: 'Open Sans', sans-serif;*/
/*   -webkit-transition: all .2s;*/
/*   transition: all .2s;*/
/*   border: 1px solid #ccc;*/
/*   box-shadow: 0 1px 2px #fff;*/
/*   &:hover {*/
/*     box-shadow: 0 1px 2px #cbc3ba;*/
/*   }*/
/*   &:active,*/
/*   &:focus {*/
/*     outline: none;*/
/*   }*/
/* }*/
/* .rotate-x {*/
/*   -webkit-animation-duration: .6s;*/
/*           animation-duration: .6s;*/
/*   -webkit-animation-name: rotate-x;*/
/*           animation-name: rotate-x;*/
/* }*/
/*

/* @-webkit-keyframes rotate-x {*/
/*   from {*/
/*     -webkit-transform: rotateY(0deg);*/
/*             transform: rotateY(0deg);*/
/*   }*/
/*   to {*/
/*     -webkit-transform: rotateY(360deg);*/
/*             transform: rotateY(360deg);*/
/*   }*/
/* }*/

/* @keyframes rotate-x {*/
/*   from {*/
/*     -webkit-transform: rotateY(0deg);*/
/*             transform: rotateY(0deg);*/
/*   }*/
/*   to {*/
/*     -webkit-transform: rotateY(360deg);*/
/*             transform: rotateY(360deg);*/
/*   }*/
/* }*/