.slider-container{
  height: 340px;
  margin: 0;
  padding: 0;
  width: 100%;
    .slider {
      margin: 0 auto;
        .slide_viewer {
          height: 340px;
          overflow: hidden;
          position: relative;
              .slide_group {
              height: 100%;
              position: relative;
              width: 100%;
                .slide {
                  display: none;
                  height: 100%;
                  position: absolute;
                  width: 100%;
                  text-align: center;
                }
            }
        }
    }
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  top: 360px;
  z-index: 100;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn {
  &:hover {
    color: $secolor;
    cursor: pointer;
  }
  &.active {
    color: #428CC6;
    cursor: pointer;
  }
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}