$secolor:#F1D302;
$fircolor:#31708f;
body{
  background-color:#f5f6f5;
   a:hover{
     text-decoration: none;
  }
}
path{
 shape-rendering: geometricPrecision;
}
.logo{
  float: left;
  margin-top: 5px;
  .st3{
    -webkit-transition:all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:hover{
    .st3{
      fill:#57A773;
    }
  }
  svg{
    width: 200px;
  }
  a {
    text-decoration: none;
  }
}
.header-right{
  float: right;
}
.catalogue {
  float: left;
  margin-top: 15px;
  font-size: 1.5em;
  color: #fff;
  background-color: $fircolor;
  padding: 6px 20px;
  text-decoration: none;
  margin-right: 20px;
  -webkit-transition:all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: $secolor;
    color: #000;
    text-decoration: none;
  }
}
.menu-node:not(.active) {
  float: left;
  line-height: 1.5;
  margin-top: 23px;
  margin-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.4em;
  color: #6D6D6D;
  -webkit-transition:all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  &:hover{
    color: $secolor;
  }

}
#shop_basket{
  .bask0{
    -webkit-transition:all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    fill:#f5f6f5;
  }
}
#shop_basket:hover{
  .bask0{
    fill:lighten($secolor, 30%);
  }
}
#shop_basket, #magnifier{
  width: 40px;
}
#magnifier{
  outline: none;
  margin-left:-15px;
  .magn0{
    -webkit-transition:all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &:hover{
    .magn0{
      fill: $secolor;
    }
  }
}
#search{
  float: left;
  &.activate-search{
    input{
      width: 300px;
      outline: none;
      padding: 6px 20px;
      -webkit-transition:all 200ms ease;
      transition: all 200ms ease;
    }
  }
  input{
    width: 0px;
    border: none;
    font-size: 1.5em;
    padding: 6px 0px;
    margin-top: 10px;
    margin-right: 20px;
    -webkit-transition:all 200ms ease;
    transition: all 200ms ease;
  }
}

.categories-border {
    // border: 1px solid #e7eaed;
    margin: 20px 0;
      .categories-layout {
        background: #fbfbfb;
          margin: 5px;
          padding: 20px 0;
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -o-transition: 0.5s all;
          -ms-transition: 0.5s all;
          text-align: center;
          cursor: pointer;
            svg {
              width: 50%;
               .svg-background {
                  fill:darken($fircolor,15%);
                }
                .svg-img{
                fill:#fff;
                stroke:#fff;
              }
            }
            .categories-h4{
              margin: 0 0 0 0;
              text-decoration: none;
              color: #4C4C4C;
              font-size: 18px;
              text-align: center;
              height: 35px;
              margin-top: 20px;
            }
          &:hover{
            background-color:#2E6171;
              .categories-h4{
                color: #fff;
              }

          }
      }
  }
.google_map{
    width: 100%;
    height: 300px;
    overflow: hidden;
    .in-map{
      font-weight: 400; 
      font-style: italic;
    }
    #gmap_canvas{
      width: 100%;
      height: 100%;
      img{
      max-width:none!important;
      background:none!important
      }
    }
  }

 .pre-footer{
  background-color:darken(rgb(131,177,190),5%);
    h1{
      color: #fff;
      font-weight: 600;
    }
    section{
      font-weight: 200;
      font-size: 1.5em;
      padding: 0 20%;
      color: $fircolor;
    }
  
}
.contact-article{
// border-left: 2px solid $fircolor;
  address{
    // border: 2px solid $fircolor;
    // background-color:#75B09C;
      
      .location {
      margin-top: 1em;
      text-align: start;
      li{
      float: left;
      display: inline-block;
      margin: 0;
      white-space: pre-wrap;
      color: #eaeaea;
      font-size: 1.3em;
      margin: 0;
              a[href*="mailto:"]{
                color: $fircolor;
              }
      }
          .glyphicon{
            margin-top: -5px;
            margin-right: 5px;
            color: rgb(125,178,172);
            background-color:#fff;
            padding: 6px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            vertical-align: top;
      }
    }
  }
  // .line{
  //   border-top: 2px solid $fircolor;
  // }
}
.footer-logo{
  svg{
    width: 30%;
  }
}


.footer-bottom {
    background: #3c3d41;
    padding: 30px 0;
    p {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 14px;
  }
}

@import "_slider.scss";