@font-face {
  font-family: 'Open Sans';
  src: url("./font/fonts/OpenSans-Regular.eot");
  src: url("./font/fonts/OpenSans-Regular.eot") format("embedded-opentype"), url("./font/fonts/OpenSans-Regular.woff") format("woff"), url("./font/fonts/OpenSans-Regular.ttf") format("truetype"), url("./font/fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadPro';
  src: url("./font/fonts/MyriadPro-Regular.eot");
  src: url("./font/fonts/MyriadPro-Regular.eot") format("embedded-opentype"), url("./font/fonts/MyriadPro-Regular.woff") format("woff"), url("./font/fonts/MyriadPro-Regular.ttf") format("truetype"), url("./font/fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadProItalic';
  src: url("./font/fonts/MyriadPro-Italic.eot");
  src: url("./font/fonts/MyriadPro-Italic.eot") format("embedded-opentype"), url("./font/fonts/MyriadPro-Italic.woff") format("woff"), url("./font/fonts/MyriadPro-Italic.ttf") format("truetype"), url("./font/fonts/MyriadPro-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Palatino';
  src: url("./font/fonts/PalatinoRoman-Light.eot");
  src: url("./font/fonts/PalatinoRoman-Light.eot") format("embedded-opentype"), url("./font/fonts/PalatinoRoman-Light.woff") format("woff"), url("./font/fonts/PalatinoRoman-Light.ttf") format("truetype"), url("./font/fonts/PalatinoRoman-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #f5f6f5;
  font-family: "MyriadPro";
  position: relative;
  font-size: 14px;
  margin-bottom: 180px;
  min-height: calc(100vh - 180px);
  width: 100%; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }
    body a:active {
      text-decoration: none; }
    body a:focus {
      text-decoration: none; }

select {
  background-color: #fcfcfd; }

.head {
  z-index: -5;
  background-color: #3c3d41; }

path {
  shape-rendering: geometricPrecision; }

.logo {
  float: left;
  margin-top: 5px; }
  @media screen and (max-width: 760px) {
    .logo {
      float: none;
      width: 100%;
      text-align: center; }
      .logo svg {
        max-width: 400px; } }
  .logo .st3, .logo .st0, .logo .medoptikstar {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .logo .medoptikstar {
    font-family: 'MyriadProItalic';
    font-style: italic;
    fill: #D3C7C7;
    fill-opacity: 0.5;
    font-size: 36px; }
  .logo:hover .st3 {
    fill: #57A773; }
  .logo:hover .st0 {
    fill: #5ea5c8; }
  .logo:hover .medoptikstar {
    fill-opacity: 1; }
  .logo svg {
    width: 200px; }
  .logo .numbers {
    width: 150%; }
    @media screen and (max-width: 760px) {
      .logo .numbers {
        width: auto; } }

.header-right {
  float: right; }
  @media screen and (max-width: 760px) {
    .header-right {
      position: relative; } }
  .header-right .smart-menu {
    display: inline; }
  @media screen and (max-width: 760px) {
    .header-right {
      float: none; }
      .header-right .bars {
        margin: 13px 0 0 0;
        padding-left: 0%;
        display: block;
        width: 50%;
        float: right;
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms; }
        .header-right .bars .bar {
          display: block;
          height: 0.5em;
          margin: 0.8em;
          border-right: 8.8em solid #31708f;
          box-sizing: border-box; }
      .header-right .menu-toggle .bars {
        width: 0;
        opacity: 0; }
        .header-right .menu-toggle .bars .bar {
          border-right-style: none; }
      .header-right .menu-toggle .cross {
        -webkit-transition: all 300ms;
        transition: all 300ms;
        float: right;
        margin-right: 10%;
        font-size: 80px;
        font-weight: 900;
        line-height: 1;
        color: #000; }
        .header-right .menu-toggle .cross:after {
          content: "\2715"; }
      .header-right .smart-menu {
        float: right;
        display: none; } }
  .header-right #smart-menu-active {
    margin-bottom: 25px;
    background: #2b696f;
    border-radius: 2px;
    display: block;
    position: absolute;
    width: 100%;
    top: 77px;
    z-index: 10; }
    .header-right #smart-menu-active span {
      width: 100%;
      padding: 0 0 0 10%;
      height: 60px;
      line-height: 60px;
      margin: 0;
      display: block;
      border-bottom: 1px solid #1f253d;
      -webkit-transition: background .2s;
      transition: background .2s;
      position: relative; }
      .header-right #smart-menu-active span:hover {
        background: #1d5a77;
        border-top: 1px solid #1f253d; }
      .header-right #smart-menu-active span a {
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        text-indent: 6%;
        left: 0; }
      .header-right #smart-menu-active span:last-child {
        border-bottom: none; }

.cat {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .cat a {
    color: #f8fcfe !important; }
    .cat a:before {
      opacity: 1 !important;
      -webkit-transform: translateY(0px) !important;
      transform: translateY(0px) !important;
      border: none !important;
      background-color: rgba(79, 85, 112, 0.81); }
    @media screen and (max-width: 760px) {
      .cat a {
        color: #fff !important;
        text-decoration: none; } }

.numbers-head {
  font-size: 1em;
  color: #b3bdc6;
  margin-top: 0px;
  text-align: left; }
  @media screen and (max-width: 760px) {
    .numbers-head {
      float: right;
      font-size: 0.9em; } }

.menu-node {
  float: left;
  margin-top: 33px;
  color: #000;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  /* &:hover{*/
  /*   a{*/
  /*   color: lighten($fircolor,20%);*/
  /*   }*/
  /* }*/ }
  .menu-node a {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-size: 20px;
    height: 80px;
    cursor: pointer;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 42px;
    position: relative;
    width: 100px;
    -webkit-tap-highlight-color: transparent;
    z-index: 10;
    color: #b3bdc6; }
    @media screen and (max-width: 760px) {
      .menu-node a {
        height: 0px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        width: 100%; } }
    .menu-node a:hover {
      color: #d5dcdf; }
      .menu-node a:hover:before {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px); }
    .menu-node a:before {
      position: absolute;
      top: 10%;
      left: 0;
      z-index: -1;
      bottom: 5%;
      width: 100%;
      background-color: rgba(79, 85, 112, 0.81);
      content: '';
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transition: height 0.3/s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
      @media screen and (max-width: 760px) {
        .menu-node a:before {
          top: 0;
          bottom: 0; } }

.menu-basket-media a:before {
  content: none !important; }
@media screen and (max-width: 760px) {
  .menu-basket-media {
    margin-top: 0 !important;
    margin-left: 5%; } }

#shop_basket path {
  fill: #b3bdc6; }
@media screen and (max-width: 760px) {
  #shop_basket {
    width: 90px !important; }
    #shop_basket path {
      fill: #68a9c9; } }
#shop_basket .bask0 {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  fill: #3c3d41; }

@keyframes blink {
  0%, 100% {
    fill: #f5f5f5; }
  50% {
    fill: #246484; } }
@keyframes blink2 {
  0%, 100% {
    fill: #222; }
  50% {
    fill: #f5f5f5; } }
#shop_basket .amount-bask {
  animation: blink 3s infinite;
  fill: #84bad5; }
#shop_basket .text-bask {
  animation: blink2 3s infinite;
  font-family: 'MyriadPro';
  font-size: 24px; }
#shop_basket.cat-basket .bask0 {
  fill: #246484;
  stroke-width: 2px;
  stroke: #3b498a; }
#shop_basket:hover .bask0 {
  fill: #31708f; }
#shop_basket:hover .amount-bask {
  stroke: #31708f;
  fill: #ffffff;
  stroke-dasharray: 1; }
#shop_basket:hover .text-bask {
  fill: #000; }

#shop_basket, #magnifier {
  width: 40px; }

#magnifier {
  outline: none;
  margin-left: -15px;
  display: none; }
  @media screen and (max-width: 760px) {
    #magnifier {
      display: none; } }
  #magnifier .magn0 {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  #magnifier:hover .magn0 {
    fill: #5ea5c8; }

#search {
  float: left;
  margin-left: 10px;
  display: none; }
  @media screen and (max-width: 760px) {
    #search {
      float: none;
      width: 100%;
      margin-left: 0;
      display: block;
      display: none; }
      #search input {
        width: 100% !important;
        outline: none;
        margin: 8px 0;
        float: left;
        padding: 20px 20px !important; } }
  #search.activate-search input {
    width: 300px;
    outline: none;
    padding: 6px 20px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  #search input {
    width: 0px;
    border: none;
    font-size: 1.5em;
    padding: 6px 0px;
    margin-top: 18px;
    margin-right: 20px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }

.categories-border {
  border: 1px solid #e7eaed;
  margin: 20px 0; }
  .categories-border .categories-layout {
    background: #f5f6f5;
    margin: 5px;
    padding: 30px 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-align: center;
    cursor: pointer; }
    .categories-border .categories-layout svg {
      width: 40%; }
      .categories-border .categories-layout svg .svg-background {
        fill: #1d4356; }
      .categories-border .categories-layout svg .svg-img {
        fill: #fff;
        stroke: #fff; }
    .categories-border .categories-layout .categories-h4 {
      margin: 0 0 0 0;
      text-decoration: none;
      color: #4C4C4C;
      font-size: 18px;
      text-align: center;
      height: 35px;
      margin-top: 20px; }
      @media screen and (max-width: 760px) {
        .categories-border .categories-layout .categories-h4 {
          font-size: 14px;
          font-weight: bold; } }
    .categories-border .categories-layout:hover {
      background-color: #2E6171;
      box-shadow: 0 0px 0.6em #b0b0b2; }
      .categories-border .categories-layout:hover .categories-h4 {
        color: #fff; }

.google_map {
  width: 50%;
  float: left;
  height: 650px;
  overflow: hidden; }
  @media screen and (max-width: 760px) {
    .google_map {
      width: 100%; } }
  .google_map .in-map {
    font-weight: 400;
    font-style: italic; }
  .google_map #gmap_canvas {
    width: 100%;
    height: 100%; }
    .google_map #gmap_canvas img {
      max-width: none !important;
      background: none !important; }

.pre-footer-contacts {
  float: left;
  width: 50%;
  height: 650px;
  margin: 0;
  padding: 1%;
  padding-top: 0; }
  .pre-footer-contacts h1 {
    color: #fff; }
  @media screen and (max-width: 760px) {
    .pre-footer-contacts {
      width: 100%;
      height: auto; } }

.pre-footer {
  padding: 60px 0;
  background-color: #6695a2; }
  .pre-footer h1 {
    color: #fff; }
  @media screen and (max-width: 760px) {
    .pre-footer {
      padding: 0; } }
  .pre-footer section {
    font-weight: 200;
    font-size: 1.5em;
    padding: 0 20%;
    color: #31708f; }
    @media screen and (max-width: 760px) {
      .pre-footer section {
        padding: 0; } }
    .pre-footer section .text-style {
      margin: 20px 0 0 0;
      color: #fff;
      font-size: 1em; }
      @media screen and (max-width: 760px) {
        .pre-footer section .text-style {
          font-size: 20px; } }
  @media screen and (max-width: 760px) {
    .pre-footer #about_us {
      background-color: #31708f;
      padding-bottom: 7%; } }

.contact-article {
  /* border-left: 2px solid $fircolor;*/
  /* .line{*/
  /*   border-top: 2px solid $fircolor;*/
  /* }*/ }
  .contact-article address {
    margin-bottom: 0;
    padding-bottom: 5%; }
    .contact-article address:nth-child(even) {
      border-left: 1px solid #333; }
      @media screen and (max-width: 760px) {
        .contact-article address:nth-child(even) {
          border-left: none; } }
    .contact-article address:nth-child(n+3) {
      border-top: 1px solid #333; }
      @media screen and (max-width: 760px) {
        .contact-article address:nth-child(n+3) {
          border-top: none; } }
    .contact-article address .location {
      margin-top: 1em;
      padding-left: 1%;
      text-align: start; }
      .contact-article address .location li {
        float: left;
        display: inline-block;
        margin: 0;
        white-space: pre-wrap;
        color: #333;
        font-size: 1em;
        margin: 0; }
        .contact-article address .location li a[href*="mailto:"] {
          color: #31708f; }
      .contact-article address .location .glyphicon {
        margin-top: -5px;
        margin-right: 8px;
        color: #fff;
        background-color: #31708f;
        padding: 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        vertical-align: top; }

.footer-logo svg {
  width: 20%; }
  @media screen and (min-width: 1800px) {
    .footer-logo svg {
      width: 15%; } }
  @media screen and (max-width: 760px) {
    .footer-logo svg {
      width: 40%; } }

.footer-bottom {
  background: #3c3d41;
  padding: 30px 0;
  position: absolute;
  top: 100%;
  width: 100%; }
  .footer-bottom p {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 14px; }
  .footer-bottom .copyrights p {
    color: #979797;
    font-style: italic; }

.footer-social-info {
  color: #85929e;
  font-size: 0.8em;
  text-align: left;
  border-top: #526c84 1px dashed;
  padding-top: 30px;
  margin-top: 20px; }
  .footer-social-info ul {
    list-style-type: none; }
    .footer-social-info ul:first-child {
      float: left; }
    .footer-social-info ul:last-child {
      float: right; }

.panel-group .panel {
  border-radius: 0px;
  background-color: #f5f5f5; }
  .panel-group .panel .panel-heading {
    border-radius: 0px; }
  .panel-group .panel .panel-heading-hover {
    background-color: #3c3d41;
    color: #fff; }
  .panel-group .panel label[for="avail"] {
    margin-bottom: 5px !important; }
  .panel-group .panel label:not(.sub-label) {
    display: block;
    max-width: none;
    margin-bottom: 0px;
    color: #245269;
    text-decoration: none; }
    .panel-group .panel label:not(.sub-label)[aria-expanded="false"] .panel-heading-hover {
      color: #245269;
      background-color: #fff; }
      .panel-group .panel label:not(.sub-label)[aria-expanded="false"] .panel-heading-hover:hover {
        background-color: #3c3d41;
        color: #fff; }
  .panel-group .panel + .panel {
    margin-top: 0px !important; }
  .panel-group .panel:not(:last-child) {
    border-bottom: 0px; }

.list-group-item {
  border-radius: 0px !important;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease; }
  .list-group-item .sub-label {
    display: inline;
    font-weight: 500; }

.collapse .list-group-item-new:before {
  content: '\00a0'; }

.list-group {
  margin: 0px; }
  .list-group .list-group-item-new .variable-param {
    margin-left: 150px; }
    @media screen and (max-width: 1260px) {
      .list-group .list-group-item-new .variable-param {
        margin-left: 0px; } }
  .list-group .list-group-item-new select {
    color: #000;
    margin: 7px 0; }
    @media screen and (max-width: 1260px) {
      .list-group .list-group-item-new select {
        height: 45px;
        width: 100%; } }
  .list-group .list-group-item-new:hover {
    background: #86abb5;
    color: #fff;
    border-radius: 0px;
    cursor: pointer; }
    .list-group .list-group-item-new:hover:before, .list-group .list-group-item-new:hover:after {
      content: '';
      position: absolute;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
    .list-group .list-group-item-new:hover:before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #46656d; }
    .list-group .list-group-item-new:hover .list-bottom .basket {
      border-color: #fff;
      color: #fff; }
      .list-group .list-group-item-new:hover .list-bottom .basket:before, .list-group .list-group-item-new:hover .list-bottom .basket:after {
        content: '';
        position: absolute;
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease; }
      .list-group .list-group-item-new:hover .list-bottom .basket:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #32484e;
        -webkit-transform: scaleX(0);
        transform: scaleX(0); }
      .list-group .list-group-item-new:hover .list-bottom .basket:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .list-group .list-group-item-new:hover .list-left .title {
      color: #fff; }
    .list-group .list-group-item-new:hover .list-left .in-catalog-price {
      color: #fff; }
    .list-group .list-group-item-new:hover .list-right .availability {
      color: #fff; }

.price-header {
  margin-bottom: 10px; }

.price-holder {
  width: 50%;
  float: left;
  margin-bottom: 3%; }

.catalog-content {
  border: 1px solid #CCCCCC;
  padding: 15px;
  margin-bottom: 2%; }
  .catalog-content .dropdown {
    height: 50px; }
    .catalog-content .dropdown button {
      float: right;
      border-radius: 0px; }
  .catalog-content .dropdown-menu {
    float: right;
    right: 0;
    left: initial;
    margin: 0;
    border-radius: 0px;
    top: 68.5%; }
  .catalog-content .fade-content-list {
    position: relative;
    transition: 0.5s all; }
    .catalog-content .fade-content-list:before {
      transition: 0.5s all;
      content: '';
      position: absolute;
      z-index: 400;
      width: 100%;
      height: 100%;
      background-color: rgba(45, 47, 53, 0.28); }
  .catalog-content .content-list .list-cat {
    position: relative; }
    @media screen and (max-width: 991px) {
      .catalog-content .content-list .list-cat {
        text-align: center; } }
  .catalog-content .content-list li {
    background: #fcfcfd;
    margin-bottom: 30px;
    padding: 20px;
    list-style-type: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-shadow: 0 0 0.6em #ccc;
    -webkit-box-shadow: 0 0 0.6em #ccc;
    -o-box-shadow: 0 0 0.6em #ccc;
    -moz-box-shadow: 0 0 0.6em #ccc;
    -ms-box-shadow: 0 0 0.6em #ccc; }
    .catalog-content .content-list li img {
      float: left;
      margin-right: 0;
      padding-bottom: 2%;
      border: 1px solid #D1E0EE;
      padding: 0;
      width: 20%;
      background-color: #fff; }
      @media screen and (max-width: 991px) {
        .catalog-content .content-list li img {
          float: none;
          width: initial; } }
    .catalog-content .content-list li .list-left {
      margin-left: 15px;
      float: left; }
      @media screen and (max-width: 991px) {
        .catalog-content .content-list li .list-left {
          float: none; } }
    .catalog-content .content-list li .list-right {
      float: right; }
      .catalog-content .content-list li .list-right .availability {
        word-wrap: normal; }
      .catalog-content .content-list li .list-right .sale {
        text-align: center;
        font-size: 1.5em;
        color: #a94442; }
    .catalog-content .content-list li .list-bottom {
      bottom: 20px;
      right: 20px;
      position: absolute;
      text-align: center; }
      @media screen and (max-width: 1260px) {
        .catalog-content .content-list li .list-bottom {
          bottom: 0;
          right: 0;
          width: 100%;
          position: relative; } }
      .catalog-content .content-list li .list-bottom .basket {
        display: block;
        background-color: rgba(255, 255, 255, 0);
        border-color: #34a8c8;
        color: #34a8c8;
        border: 3px solid;
        width: 100%;
        padding: 13px 7px;
        text-align: center;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
        .catalog-content .content-list li .list-bottom .basket:hover {
          background-color: #46656d;
          border-color: #46656d;
          color: white; }
    .catalog-content .content-list li .title {
      overflow: hidden;
      word-wrap: break-word;
      font-size: 20px;
      text-decoration: none;
      color: #245269;
      font-weight: 500;
      letter-spacing: 1px; }
    .catalog-content .content-list li .in-catalog-price {
      display: block;
      margin: 10px 0 0 0; }
    .catalog-content .content-list li .catalog-path {
      overflow: hidden;
      word-wrap: break-word;
      color: #C1C1C1;
      font-size: 13px;
      margin-top: 15px; }
  .catalog-content .ajax-filter-count {
    text-align: center;
    font-weight: normal; }
    @media screen and (max-width: 760px) {
      .catalog-content .ajax-filter-count {
        width: 100%; } }
    .catalog-content .ajax-filter-count .ajax-more {
      padding-top: 10px;
      position: relative;
      color: inherit;
      text-decoration: none;
      font-size: 1.5em;
      color: #245269; }
      .catalog-content .ajax-filter-count .ajax-more:before, .catalog-content .ajax-filter-count .ajax-more:after {
        content: '';
        position: absolute;
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease; }
      .catalog-content .ajax-filter-count .ajax-more:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #31708f;
        -webkit-transform: scaleX(0);
        transform: scaleX(0); }
      .catalog-content .ajax-filter-count .ajax-more:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

#accordion {
  padding: 0; }
  #accordion .list-group-item {
    padding: 0;
    transition: 0.2s all; }
    #accordion .list-group-item.selected-sub-label {
      background: #5a8092;
      color: #fff;
      border-radius: 0px;
      cursor: pointer; }
    #accordion .list-group-item .sub-label {
      font-weight: 500;
      width: 100%;
      cursor: pointer;
      padding: 10px 15px;
      margin: 0;
      height: 100%;
      display: inline-block; }
      #accordion .list-group-item .sub-label:before {
        content: "\2013\00A0"; }
    #accordion .list-group-item:before, #accordion .list-group-item:after {
      content: none; }

.custom_checkbox2 {
  float: left; }
  @media screen and (max-width: 760px) {
    .custom_checkbox2 {
      float: none; } }
  .custom_checkbox2 input[type="checkbox"] {
    display: none; }
    .custom_checkbox2 input[type="checkbox"] + label {
      font-weight: 500; }
    .custom_checkbox2 input[type="checkbox"] + label:before {
      background: #ffffff;
      height: 21px;
      border: 1px solid #ccc;
      content: " ";
      display: inline-block;
      width: 21px;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
      top: -1px; }
    .custom_checkbox2 input[type="checkbox"]:checked + label:before {
      content: "\2713";
      color: #ada5a5;
      text-align: center;
      line-height: 17px; }

.ajax-count-wrapper {
  float: right; }
  @media screen and (max-width: 760px) {
    .ajax-count-wrapper {
      float: none; } }
  .ajax-count-wrapper h5 {
    margin-top: 5px; }

.scroll-button {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 5px;
  width: 80px;
  height: 80px;
  right: 20px;
  bottom: 20px;
  visibility: visible;
  filter: alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: pointer;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s; }

.scroll-button {
  background: none;
  border: solid 2px #387fa2;
  color: #387fa2; }

.scroll-button {
  border-radius: 0%; }

.scroll-button {
  position: fixed; }

.scroll-button:hover {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.scroll-button--hidden {
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; }

.slider-container {
  position: relative;
  height: calc(100vh / 2.5);
  margin: 0;
  padding: 0;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .slider-container {
      display: none; } }
  .slider-container .slider {
    margin: 0 auto; }
    .slider-container .slider .slide_viewer {
      height: calc(100vh / 2.5);
      overflow: hidden;
      position: relative; }
      .slider-container .slider .slide_viewer .slide_group {
        height: 100%;
        position: relative;
        width: 100%; }
        .slider-container .slider .slide_viewer .slide_group .slide {
          display: none;
          height: 100%;
          position: absolute;
          width: 100%;
          text-align: center; }
          .slider-container .slider .slide_viewer .slide_group .slide h1.text_slider_style {
            max-height: 100px;
            margin-left: 100px;
            margin-right: 100px;
            font-family: MyriadPro;
            letter-spacing: 2px;
            font-size: 150%; }
            @media only screen and (max-width: 767px) {
              .slider-container .slider .slide_viewer .slide_group .slide h1.text_slider_style {
                margin-left: 0;
                margin-right: 0; } }

a:nth-of-type(odd) .slide {
  background: #f5f6f5; }

a:nth-of-type(even) .slide {
  background: #cddade; }

.slide_buttons {
  left: 0;
  top: calc(100vh / 2.5 - 60px);
  z-index: 100;
  position: absolute;
  right: 0;
  text-align: center; }

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.slide_btn:hover {
  color: #31708f;
  cursor: pointer; }
.slide_btn.active {
  color: #428CC6;
  cursor: pointer; }

.directional_nav {
  height: calc(100vh / 2.5 - 60px);
  margin: 0 auto;
  top: -340px; }

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0; }

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0; }

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px; }

.previous_btn:hover, .next_btn:hover {
  opacity: 1; }

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px; }

  .next_btn {
    right: 50px; } }
.product-details {
  font-size: 1.2em;
  font-family: "Open Sans"; }

.item-container {
  background-color: #fff;
  box-shadow: 0 0 0.6em #ccc;
  padding: 15px;
  border: 1px solid #eee;
  overflow: hidden;
  margin-bottom: 2%; }
  .item-container .basket {
    display: block;
    cursor: pointer;
    margin-top: 13px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #34a8c8;
    color: #34a8c8;
    border: 3px solid;
    padding: 13px 25px;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    .item-container .basket:hover {
      background-color: #46656d;
      border-color: #46656d;
      color: white; }
  .item-container .variable-param {
    float: right; }
  .item-container .availability {
    float: right;
    font-size: 1.2em;
    word-spacing: 3px; }
    .item-container .availability i {
      color: #31708f;
      padding-right: 5px; }
  .item-container .title {
    text-align: center; }
  .item-container h2 {
    font-size: 1.3em; }

.breadcrumb {
  border: 1px solid #F3F3F3;
  padding: 10px 15px; }

.slides-item {
  padding: 0;
  text-align: center;
  position: relative; }
  .slides-item li {
    width: 15%;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    .slides-item li img {
      width: 100%;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
      .slides-item li img:hover {
        position: relative;
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        box-shadow: 0 0 0.6em #ccc;
        -webkit-box-shadow: 0 0 0.6em #ccc;
        -o-box-shadow: 0 0 0.6em #ccc;
        -moz-box-shadow: 0 0 0.6em #ccc;
        -ms-box-shadow: 0 0 0.6em #ccc; }
    .slides-item li .relative {
      position: relative;
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      box-shadow: 0 0 0.6em #ccc;
      -webkit-box-shadow: 0 0 0.6em #ccc;
      -o-box-shadow: 0 0 0.6em #ccc;
      -moz-box-shadow: 0 0 0.6em #ccc;
      -ms-box-shadow: 0 0 0.6em #ccc; }

.delivery-container .border-block {
  border: 1px solid #eee;
  margin-bottom: 20px;
  background-color: #fff; }
  .delivery-container .border-block .border-block-content {
    padding: 0 5%; }
    .delivery-container .border-block .border-block-content p, .delivery-container .border-block .border-block-content ul, .delivery-container .border-block .border-block-content ol {
      text-align: left; }
    .delivery-container .border-block .border-block-content .glyphicon {
      font-size: 3em;
      color: #31708f;
      margin-top: 20px; }
    .delivery-container .border-block .border-block-content h3 {
      background-color: #f5f6f5;
      padding: 10px; }
  .delivery-container .border-block .row {
    font-size: 1.2em; }
.delivery-container .steps {
  background-color: #e8e8e8;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 10px 2em #ccc; }

.well {
  margin-top: 4%;
  border-radius: 0; }
  @media screen and (max-width: 760px) {
    .well {
      padding: 0 0 19px 0;
      margin: 0; } }

.form-legend {
  z-index: 99;
  position: relative;
  margin-bottom: 0px; }
  .form-legend:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: inherit;
    z-index: -1;
    height: 1px;
    background: #616161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #9bc5c3, #616161);
    background: linear-gradient(to right, #9bc5c3, #616161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  @media screen and (max-width: 760px) {
    .form-legend h2 {
      font-size: 24px; } }

/* .form-group{*/
/* 	margin: 0;*/
/* }*/
.form-control {
  border-radius: 0px; }

@media screen and (max-width: 760px) {
  .form-info {
    font-size: 20px; } }

.container-lit-form {
  padding: 15px; }
  @media screen and (max-width: 760px) {
    .container-lit-form {
      padding: 0; } }

.additional-info {
  display: inline-block;
  padding-bottom: 1%;
  font-style: italic;
  color: #666; }

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  text-indent: 7px;
  height: 34px;
  border-radius: 0px;
  background-color: #fff; }

#zip {
  height: 0px;
  overflow: hidden;
  margin-bottom: 0px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

/* .col-form-label{*/
/* 	background-color: #194c65;*/
/* 	color: #fff;*/
/*     width: 100%;*/
/*     padding: 2%;*/
/*     margin:0;*/
/*     font-size: 16px;*/
/*     letter-spacing: 0.1em;*/
/*     font-family: 'MyriadPro';*/
/* }*/
.list-group-item-cart {
  margin: 1%; }
  .list-group-item-cart:hover {
    box-shadow: 0 0 0.6em #ccc;
    background-color: #f6f6f7;
    cursor: normal; }

.checkbox-custom {
  position: relative;
  cursor: pointer; }
  .checkbox-custom:hover:before {
    border-color: #adadad; }
  .checkbox-custom:before {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 3.1em;
    height: 3.1em;
    border: 2px solid #f2f2f2; }
  .checkbox-custom:checked:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 2em;
    border-color: green;
    border-top-style: none;
    border-right-style: none; }
  .checkbox-custom:after {
    content: "";
    position: absolute;
    left: 0;
    border: 2px solid #8598a0;
    width: 3.1em;
    height: 3.1em;
    background: #fff;
    cursor: pointer; }

.checkbox-label {
  position: relative;
  margin: 0.5em;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer; }
  @media screen and (max-width: 991px) {
    .checkbox-label {
      display: none; } }

.info-cart {
  /* margin-left: 2%;*/
  padding: 1% 0 0 0; }
  .info-cart .title {
    color: #3b5f69;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }

.availability-cart {
  padding: 1.3% 0 0 0; }
  .availability-cart h5 {
    color: #666;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase; }

.quantity-cart {
  padding: 0.5% 0 0 20px; }
  @media screen and (max-width: 991px) {
    .quantity-cart {
      height: 40px;
      padding: 0; } }
  .quantity-cart input[type="text"] {
    float: left;
    font-family: 'Open Sans';
    outline: 0;
    font-size: 1.2em;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #2a2a2a;
    line-height: 40px;
    border: 1px solid #ccc;
    border-right: 0;
    background-color: #f5f6f5; }
    @media screen and (max-width: 991px) {
      .quantity-cart input[type="text"] {
        width: 50%; } }

.qty_inc_dec .increment, .qty_inc_dec
.decrement {
  float: left;
  text-align: center;
  width: 30px;
  cursor: pointer;
  font-size: 1.2em;
  font-style: normal;
  line-height: 20px;
  height: 25px;
  vertical-align: middle;
  background-color: #e1edf1;
  border: 1px solid #ccc; }
  @media screen and (max-width: 991px) {
    .qty_inc_dec .increment, .qty_inc_dec
    .decrement {
      width: 100%; } }

.qty_inc_dec .increment {
  border-bottom: 0;
  line-height: 25px; }

.qty_inc_dec {
  float: left;
  width: 10px;
  height: 50px;
  display: inline-block; }
  @media screen and (max-width: 991px) {
    .qty_inc_dec {
      width: 50%; } }

.last-cart {
  text-align: center;
  padding: 13px 0 0 0; }
  @media screen and (max-width: 991px) {
    .last-cart {
      padding: 13px 0 0 0; } }
  .last-cart h5 {
    font-weight: 800;
    color: #2b6777; }
  @media screen and (max-width: 991px) {
    .last-cart .btn {
      width: 100%; } }

.btn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #f2f2f2;
  border-radius: 0px; }

.btn-cart {
  width: 100%;
  margin: 5% 0;
  background-color: #95a5a6;
  border-color: #95a5a6; }
  @media screen and (max-width: 760px) {
    .btn-cart {
      padding: 5%;
      margin: 1% 0; } }

.cart-title {
  text-align: right;
  color: #3b5f69;
  font-family: "palatino"; }
  @media screen and (max-width: 760px) {
    .cart-title {
      text-align: center; } }

.sum-cart {
  padding: 1% 0 0 0;
  text-align: right; }
  .sum-cart span {
    font-family: 'Palatino';
    color: #3b5f69;
    font-weight: 600;
    font-size: 2em; }
  @media screen and (max-width: 760px) {
    .sum-cart {
      text-align: center; } }

/* button[type="button"] {*/
/*   cursor: pointer;*/
/*   width: 168px;*/
/*   border: none;*/
/*   color: #2a2a2a;*/
/*   background: #fff;*/
/*   height: 50px;*/
/*   font-size: 1.2em;*/
/*   font-family: 'Open Sans', sans-serif;*/
/*   -webkit-transition: all .2s;*/
/*   transition: all .2s;*/
/*   border: 1px solid #ccc;*/
/*   box-shadow: 0 1px 2px #fff;*/
/*   &:hover {*/
/*     box-shadow: 0 1px 2px #cbc3ba;*/
/*   }*/
/*   &:active,*/
/*   &:focus {*/
/*     outline: none;*/
/*   }*/
/* }*/
/* .rotate-x {*/
/*   -webkit-animation-duration: .6s;*/
/*           animation-duration: .6s;*/
/*   -webkit-animation-name: rotate-x;*/
/*           animation-name: rotate-x;*/
/* }*/
/*

/* @-webkit-keyframes rotate-x {*/
/*   from {*/
/*     -webkit-transform: rotateY(0deg);*/
/*             transform: rotateY(0deg);*/
/*   }*/
/*   to {*/
/*     -webkit-transform: rotateY(360deg);*/
/*             transform: rotateY(360deg);*/
/*   }*/
/* }*/
/* @keyframes rotate-x {*/
/*   from {*/
/*     -webkit-transform: rotateY(0deg);*/
/*             transform: rotateY(0deg);*/
/*   }*/
/*   to {*/
/*     -webkit-transform: rotateY(360deg);*/
/*             transform: rotateY(360deg);*/
/*   }*/
/* }*/

/*# sourceMappingURL=style.css.map */
