$fircolor:#31708f;
$path: "./font/fonts" !default;
@mixin fontdef($font, $FontType, $path:"./font/fonts") {
  src:  url('#{$path}/#{$font}-#{$FontType}.eot');
  src:  url('#{$path}/#{$font}-#{$FontType}.eot') format('embedded-opentype'),
        url('#{$path}/#{$font}-#{$FontType}.woff') format('woff'),
        url('#{$path}/#{$font}-#{$FontType}.ttf') format('truetype'),
        url('#{$path}/#{$font}-#{$FontType}.svg') format('svg');
}
@mixin media($media) {
  @if ($media > 1799) {
    @media screen and (min-width: $media + px) { @content; }
  }
  @else{
    @media screen and (max-width: $media + px) { @content; }
  }
}
@font-face {
  font-family: 'Open Sans';
  @include fontdef("OpenSans", "Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  @include fontdef("MyriadPro", "Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Palatino';
  @include fontdef("PalatinoRoman", "Light");
  font-weight: normal;
  font-style: normal;
}
body{
  background-color:#f5f6f5;
  font-family: "Open Sans";
      position: relative;
      margin-bottom: 180px;
    min-height: calc(100vh - 180px);
    width: 100%;
   a:hover{
     text-decoration: none;
  }
}
.head{
      border-bottom: 2px solid #f2f2f2;
}
path{
 shape-rendering: geometricPrecision;
}
.logo{
  float: left;
  margin-top: 5px;
    @include media(760){
    float: none;
    width: 100%;
    text-align: center;
    svg{
      max-width: 400px;

    }
  }
  .st3{
    -webkit-transition:all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:hover{
    .st3{
      fill:#57A773;
    }
  }
  svg{
    width: 200px;
  }
  a {
    text-decoration: none;
  }

}
.header-right{
  float: right;
    @include media(760){
      position: relative;
    }
    .smart-menu{
      display: inline;
    }
        @include media(760){
          float: none;
                .bars {
          margin: 13px 0 0 0;
          padding-left:0%;
          display: block;
          width: 50%;
          float: right;
          -webkit-transition:opacity 300ms;
          transition: opacity 300ms;
                  .bar {
                  display: block;
                  height: 0.5em;
                  margin: 0.8em;
                  border-right: 8.8em solid $fircolor;
                  box-sizing: border-box;
                  }
                }
          .menu-toggle{
            .bars{
              width: 0;
              opacity: 0;
              .bar{
              border-right-style: none;
              }
            }
           .cross{
              -webkit-transition:all 300ms;
              transition: all 300ms;
                float: right;
          margin-right: 10%;
          font-size: 80px;
          font-weight: 900;
          line-height: 1;
          color: #000;
            &:after{
              content: "\2715";
            }
        }
     }

      .smart-menu{
      float: right;
      display: none;
    }
              }
   
    #smart-menu-active{
          margin-bottom: 25px;
          background: #2b696f;
          border-radius: 2px;
          display: block;
          position: absolute;
          width: 100%;
          top: 77px;
          z-index: 10;
        span{
          width: 100%;
          padding:0 0 0 10%;
              height: 60px;
              line-height: 60px;
              margin: 0;
              display: block;
              border-bottom: 1px solid #1f253d;
              -webkit-transition: background .2s;
              transition: background .2s;
              position: relative;
                      &:hover{ 
                  background: #1d5a77;
                  border-top: 1px solid #1f253d;
                }
                a{
                  color: #fff;
                  position: absolute;
                  top: 0;
                  text-indent: 6%;
                  right: 0;
                  bottom: 0;
                  left: 0;
                }
            &:last-child{
              border-bottom: none;
            }
        }
        .cat{
            background: #183b4c;
        }
    }
  }
.cat {
  -webkit-transition:all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  a{
    color: $fircolor !important;
    text-decoration: overline;
     @include media(760){
      color: #fff !important;
      text-decoration: none;
    }
  }
 
}
.menu-node{
  float: left;
  margin-top: 23px;
  margin-right: 25px;
  box-sizing: border-box;
  font-family: 'Palatino';
  cursor: pointer;
  font-size: 23px;
  color: #6D6D6D;
  -webkit-transition:all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  a{
    -webkit-transition:all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
    color: inherit;
  }
  &:hover{
    a{
    color: lighten($fircolor,20%);
    }
  }
}
.menu-basket-media{
  @include media(760){
      margin-top:0 !important;
       margin-left: 5%;
    }
}
#shop_basket{
  @include media(760){
      width: 90px !important;
      path{
        fill: darken($fircolor,15%);
      }
    }
  .bask0{
    -webkit-transition:all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    fill:#f5f6f5;
  }
}
#shop_basket{
  padding-top: 1px;
   &.cat-basket{
    .bask0{
    fill:lighten($fircolor, 30%);
          stroke-width: 2px;
          stroke: #3b498a;
    }
  }
  &:hover{
  .bask0{
    fill:lighten($fircolor, 30%);
    }
  }
}
#shop_basket, #magnifier{
  width: 40px;
}
#magnifier{
  outline: none;
  margin-left:-15px;
    @include media(760){
      display: none;
    }
  .magn0{
    -webkit-transition:all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  &:hover{
    .magn0{
      fill: lighten($fircolor,20%);
    }
  }
}
#search{
  float: left;
  margin-top: 10px;
    @include media(760){
      float: none;
      width: 100%;
      display: block;

      input{
           width: 100% !important;
          outline: none;
          margin: 8px 0; 
          float: left;
          padding: 20px 20px !important;
      }
    }
  &.activate-search{
    input{
      width: 300px;
      outline: none;
      padding: 6px 20px;
      -webkit-transition:all 200ms ease;
      transition: all 200ms ease;
    }
  }
  input{
    width: 0px;
    border: none;
    font-size: 1.5em;
    padding: 6px 0px;
    margin-top: 10px;
    margin-right: 20px;
    -webkit-transition:all 200ms ease;
    transition: all 200ms ease;
  }
}

.categories-border {
    border: 1px solid #e7eaed;
    margin: 20px 0;
      .categories-layout {
        background: #fbfbfb;
          margin: 5px;
          padding: 20px 0;
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -o-transition: 0.5s all;
          -ms-transition: 0.5s all;
          text-align: center;
          cursor: pointer;
            svg {
              width: 40%;
               .svg-background {
                  fill:darken($fircolor,15%);
                }
                .svg-img{
                fill:#fff;
                stroke:#fff;
              }
            }
            .categories-h4{
              margin: 0 0 0 0;
              text-decoration: none;
              color: #4C4C4C;
              font-size: 18px;
              text-align: center;
              height: 35px;
              margin-top: 20px;
                @include media(760){
                  font-size: 14px;
                  font-weight: bold;
                }
            }
          &:hover{
            background-color:#2E6171;
            box-shadow: 0px 0px 3px 0px rgb(59, 103, 95);
              .categories-h4{
                color: #fff;
              }

          }
      }
  }
.google_map{
    width: 100%;
    height: 300px;
    overflow: hidden;
    .in-map{
      font-weight: 400; 
      font-style: italic;
    }
    #gmap_canvas{
      width: 100%;
      height: 100%;
      img{
      max-width:none!important;
      background:none!important
      }
    }
  }

 .pre-footer{
  padding: 60px 0;
  background-color:#6695a2;
      @include media(760){
                padding: 0;
              }
    h2{
      color: #fff;
    }
    section{
      font-weight: 200;
      font-size: 1.5em;
      padding: 0 20%;
      color: $fircolor;
         @include media(760){
            padding: 0;
          }
            .text-style{
        margin: 20px 0 0 0;
        color: #fff;
        font-size: 1.3em;
              @include media(760){
          font-size: 20px;
        }
      }
    }
  #about_us{
    @include media(760){
          background-color: #31708f;;
          padding-bottom: 7%;
    }
  }
}
.contact-article{
/* border-left: 2px solid $fircolor;*/
  address{
    /* border: 2px solid $fircolor;*/
    /* background-color:#75B09C;*/
      
      .location {
      margin-top: 1em;
      text-align: start;
      li{
      float: left;
      display: inline-block;
      margin: 0;
      white-space: pre-wrap;
      color: #eaeaea;
      font-size: 1.3em;
      margin: 0;
              a[href*="mailto:"]{
                color: $fircolor;
              }
      }
          .glyphicon{
            margin-top: -5px;
            margin-right: 8px;
            color:#fff;
            background-color:$fircolor;
            padding: 6px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            vertical-align: top;
      }
    }
  }
  /* .line{*/
  /*   border-top: 2px solid $fircolor;*/
  /* }*/
}
.footer-logo{
  svg{
    width: 20%;
    @include media(1800){
    width: 15%;
      }
      @include media(760){
    width: 40%;
      }
    }
}


.footer-bottom {
    background: #3c3d41;
    padding: 30px 0;
    position: absolute;
    top: 100%;
    height: 180px;
    width: 100%;
    p {
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 14px;
  }
    .copyrights{
    p{
    color:#979797;
    font-style: italic;
    }
  }
}

@import "_catalog.scss";
@import "_slider.scss";
@import "_item.scss";
@import "_cart.scss";